/* Aplica a estilização para todos os elementos p e span */
p, span {
    font-size: 25px;
    color: rgb(255, 0, 0);
    font-style: italic;
}

/* Aplica a estilização somente para o elemento em que tem a classe paragrafo */
h1 em {
    font-size: 25px;
    color: orange;
    font-weight: bold;;
}
/* Aplica somente a estelização para h1 */
h1 {
    font-size: 30px;
    color: black;
}
/* Aplica a estilização somente para o span que vem depois do h2 */
h2 + span {
    font-size: 14px;
    color: purple;
    font-weight: bold;
}

ul {
    list-style: none;
}

/* Aplica a estilização somente para os elementos li que são filhos diretos de ul */
ul > li {
    font-size: 14px;
    color: green;
    font-weight: bold;
}

