.Caixa {
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    color: white;
    border: 5px solid black;
    font-weight: bold;
}



.caixa-padding {
    padding: 20px;
}

.caixa-margin {
    margin: 20px;
}